/* in order to size the game canvas according to screen size relatively, all
   its parents' size must be explicit, so give html and body 100% */
body,html {
    width: 100%;
    height: 100%;
}

/* the canvas element where the game (WebGL) scene is rendered */
canvas#battleCanvas {
    width: 90%;
    height: 70%;
    border: 1px solid #333333;
    display: block;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 5px; 
    margin-bottom: 5px; 
}

p#stats {
    font-size: 9pt;
    border:1px solid #333333;
    width: 90%;
    margin-left: auto; 
    margin-right: auto; 
}

p#ui {
    font-size: 9pt; color: #ffffff;
    text-shadow: #88FF88 0 0 0.2em;
    background-color: #00AA00;
    box-shadow: 0em 0em 0.5em #00AA00;
    width: 300px;
    margin-left: auto; 
    margin-right: auto; 
    padding: 0.5em;
}