div.databaseContainer {
}

div.itemDataSheet {
    display: table;
    vertical-align: top;
    padding: 1em;
    min-width: 300px;
    max-width: 600px;
    text-align: left;
}

div.itemView {
    display: inline-block;
    height: 100%;
    padding: 1em;
    float: right;
}

.withSubtitle {
    margin-top: 5px;
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
    margin-bottom: 0.6em;
}

canvas.databaseViewScreen {
    width: 300px;
    height: 300px;
    border: 1px solid #333333;
    display: block;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 5px; 
    margin-bottom: 5px; 
}