.debriefing.pageContainer {
    width: 90%;
    height: 90%;
}

.debriefing.innerContainer {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
}

.debriefing.infoContainer {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 17em - 72px);
    margin-top: 1em;
    position: relative;
    overflow-y: scroll;
}

.debriefing.infoContainer::-webkit-scrollbar {
    width: 0.2vw;
    min-width: 2px;
    background: transparent;
}

.debriefing.infoContainer::-webkit-scrollbar-thumb {
    background: #00aa00;
}

h1.debriefing {
    margin-bottom: 0.2em;
}

table.debriefing {
    display: inline-table;
}

.scoreContainer {
    margin-bottom: 1em;
}

.score {
    font-weight: bold;
    font-size: 1.2em;
}

.newRecord {
    color: #44ff44;
    text-shadow:
        #00FF00 0 0 0.2em,
        #00FF00 0 0 0.2em;
}

.debriefingDescription {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.infoContainer {
    min-width: 300px;
}

.statisticsContainer {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.scoreBreakdownContainer {
    display: inline-block;
    margin-left: 1.5em;
}

.statLabelCell {
    text-align: left;
}

.statValueCell {
    text-align: right;
}