@font-face {
    font-family: gameFont;
    src: url(../fonts/Sansation_Light.ttf);
}

@font-face {
    font-family: gameFont;
    src: url(../fonts/Sansation_Regular.ttf);
    font-weight: bold;
}

body {
    color: #DDDDDD;
    background-color: black;
    font-family: gameFont, Ubuntu light, Verdana, Geneva, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.outerContainer {
    background-color: rgba(17,17,17,0.75);
    border: 2px solid #333333;
    box-shadow: 0em 0em 0.5em #00FF00;
    padding: 1em;
    margin-top: 1em;
}

.innerContainer {
    background-color: rgba(34,34,34,0.75);
    border: none;
    box-shadow: 0em 0em 0.5em #000000;
}

.withBackgroundSign {
    background-image: url(../pictures/empire_back_dark350.png);
    background-position: center top;
    background-repeat: no-repeat;
}

.withSmallBackgroundSign {
    background-image: url(../pictures/empire_back_dark200.png);
    background-position: center top;
    background-repeat: no-repeat;
}

.horizontallyCentered {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
}

.fullScreenFix {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.fullScreenContainer {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.wideFluid {
    width: 80%;
    padding-left: 2em;
    padding-right: 2em;
}

.fullWide {
    margin-left: 0;
    margin-right: 0;
}

.narrowFix {
    width: 350px;
}

.contentWide {
    display: table;
    padding: 1em;
}

.transparentContainer {
    padding: 0;
    border: none;
    background-color: rgba(0,0,0,0);
}

.separatorBar {
    display: block;
    padding: 0.4em;
    background: 
        url(../pictures/empire_white50.png) left center,
        url(../pictures/empire_white50.png) right center;
    background-color: #111111;
    background-repeat: no-repeat;
    box-sizing: border-box; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: none;
    border-bottom: none;
}

ul {
    display: table;
    padding: 1.0em;
}

th, td {
    padding: 0.5em;
}

th {
    text-align: left;
    color: white;
}

td {
    border: none;
    background-color: #222222;
    box-shadow: 0em 0em 0.5em #000000;
    font-size: 0.9em;
}

li {
    list-style-type: none;
}

a {
    color: #000000;
    text-decoration: none;
    text-shadow:
        #00FF00 0 0 0.2em,
        #00FF00 0 0 0.2em;
    font-weight: bold;
    font-variant: small-caps;
}

a.separate {
    display: table;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

a.menu {
    display: block;
    margin: 0.2em;
}

a.button {
    font-size: 0.9em;
    text-align: center;
    padding: 0.5em;
    background-color: #222222;
    box-shadow: 0em 0em 0.5em #000000;
}

a:hover {
    color: #FFFFFF;
}

a.button:hover {
    background-color: #333333;
}

img {
    margin: 0.5em;
}

p {
    font-size: 14px;
}

h1 {
    text-shadow: #888888 0.1em 0.1em 0.5em;
    text-align: center;
    font-variant: small-caps;
    margin: 0.2em 0 0.5em 0;
}

h2 {
    text-shadow: #888888 0.1em 0.1em 0.5em;
    text-align: center;
    font-variant: small-caps;
}

h3 {
    text-shadow: #000000 0.0em 0.0em 0.4em;
    text-align: center;
    font-variant: small-caps;
    margin: 10px;
    padding: 10px;
}

/* Styling of determinate progress bars */
progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Get rid of default border in Firefox. */
    border: none;
    
    /* Styling of the container in Firefox */
    background-color: #444444;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75) inset;
}

/* Styling of the container in Webkit browsers */
progress[value]::-webkit-progress-bar {
  background-color: #444444;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75) inset;
}

/* Styling of the value bar in Webkit browsers */
progress[value]::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient(
        top, 
        #00cc00,
        #006600
        );

    box-shadow: 0em 0em 0.4em #006600;
    border-radius: 3px; 
}

/* Styling of the value bar in Firefox */
progress[value]::-moz-progress-bar { 
    background-image:
        -moz-linear-gradient(
        top, 
        #00cc00,
        #006600
        );

    box-shadow: 0em 0em 0.4em #006600;
    border-radius: 3px; 
}