@font-face {
    font-family: gameFont;
    src: url(../fonts/Sansation_Light.ttf);
}

@font-face {
    font-family: gameFont;
    src: url(../fonts/Sansation_Regular.ttf);
    font-weight: bold;
}

/* In order to size elements according to screen size relatively, all
   their parents' size must be explicit, so give them explicit auto. This
   will mean 100% together with padding, border and margin. (instead of explicit
   100%, which would make it 100% without padding, border and margin, meaning
   added padding would make it more than 100%, resulting in unnecessary scroll
   bar) */
body,html {
    width: auto;
    height: auto;
}

body {
    color: #DDDDDD;
    background-color: black;
    font-family: gameFont, Ubuntu light, Verdana, Geneva, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: 5px transparent;
}

/* Put a wrapper div of this class around an element to be centered that has no fixed height */
.pageGhost {
    text-align: center;
    height: 100%;
    white-space: nowrap;
}

.pageGhost:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts spacing to avoid horizontal scrollbar */
}

.outerContainer {
    background-color: rgba(17,17,17,0.75);
    border: 2px solid #333333;
    box-shadow: 0em 0em 0.5em #00FF00;
}

.innerContainer {
    background-color: rgba(34,34,34,0.75);
    border: none;
    box-shadow: 0em 0em 0.5em #000000;
}

/* To use with the outermost container div which houses the page content */
.pageContainer {
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    white-space: normal;
}

.withBackgroundSign {
    background-image: url(../images/empire_back_dark350.png);
    background-position: center top;
    background-repeat: no-repeat;
}

.withSmallBackgroundSign {
    background-image: url(../images/empire_back_dark200.png);
    background-position: center top;
    background-repeat: no-repeat;
}

.horizontallyCentered {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

/* This centering works on elements of any height, but requires a wrapper with the pageGhost class around the element */
.anyHeightCentered {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
    margin-right: 1em;
}

/* This centering works only on fixed-height elements */
.centered {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
}

/* A full screen element that stays at the same place regardless of scrolling,
 * as does all of its children. Ideal for (non-moving) background. */
.fullScreenFix {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

/* A full screen element that can be used to overlay (scrollable) content on
 * top of the existing page, by appending it and putting the new content 
 * inside. */
.fullScreenContainer {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.wideFluid {
    width: 80%;
    padding-left: 2em;
    padding-right: 2em;
}

.fullWide {
    margin-left: 0;
    margin-right: 0;
}

.narrowFix {
    width: 350px;
}

.contentWide {
    display: table;
    padding: 1em;
}

.transparentContainer {
    padding: 0;
    border: none;
    background-color: rgba(0,0,0,0);
}

.separatorBar {
    display: block;
    padding: 0.4em;
    background: 
        url(../images/empire_white50.png) left center,
        url(../images/empire_white50.png) right center;
    background-color: #111111;
    background-repeat: no-repeat;
    box-sizing: border-box; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: none;
    border-bottom: none;
}

table {
    margin-bottom: 1em;
}

ul {
    display: table;
    padding: 1.0em;
}

th, td {
    padding: 0.5em;
}

th {
    text-align: left;
    color: white;
}

td {
    border: none;
    background-color: #222222;
    box-shadow: 0em 0em 0.5em #000000;
    font-size: 0.9em;
}

li {
    list-style-type: none;
}

a {
    color: #000000;
    text-decoration: none;
    text-shadow:
        #00FF00 0 0 0.2em,
        #00FF00 0 0 0.2em;
    font-weight: bold;
    font-variant: small-caps;
}

a.separate {
    display: table;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

a.menu {
    display: block;
    margin: 0.2em;
}

div.horizontalMenu {
    border-spacing: 0.4em;
}

a.horizontalMenu {
    display: table-cell;
    margin: 0.4em;
}

a.button {
    min-width: 120px;
    font-size: 0.9em;
    text-align: center;
    padding: 0.5em;
    background-color: #222222;
    box-shadow: 0em 0em 0.5em #000000;
}

a:hover {
    color: #FFFFFF;
}

a.button:hover {
    background-color: #333333;
}

.clickable:hover {
    color: #FFFFFF;
    background-color: #333333;
    cursor: pointer;
}

.highlightedItem {
    color: #FFFFFF;
    background-color: #333333;
    box-shadow: 0em 0em 0.5em #00FF00 inset;
    text-shadow: #888888 0.1em 0.1em 0.5em;
}

img {
    margin: 0.5em;
}

p {
    font-size: 14px;
    text-align: left;
}

h1 {
    text-shadow: #888888 0.1em 0.1em 0.5em;
    text-align: center;
    font-variant: small-caps;
    margin: 0.2em 0 0.5em 0;
}

h2 {
    text-shadow: #888888 0.1em 0.1em 0.5em;
    text-align: center;
    font-variant: small-caps;
}

h3 {
    text-shadow: #000000 0.0em 0.0em 0.4em;
    text-align: center;
    font-variant: small-caps;
    margin: 10px;
    padding: 10px;
}

.clear:after {
    clear: both;
    content: "";
    display: table;
}

/* Styling of determinate progress bars */
progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Get rid of default border in Firefox. */
    border: none;

    /* Styling of the container in Firefox */
    background-color: #444444;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75) inset;
}

/* Styling of the container in Webkit browsers */
progress[value]::-webkit-progress-bar {
    background-color: #444444;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75) inset;
}

/* Styling of the value bar in Webkit browsers */
progress[value]::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient(
        top, 
        #00cc00,
        #006600
        );

    box-shadow: 0em 0em 0.4em #006600;
    border-radius: 3px; 
}

/* Styling of the value bar in Firefox */
progress[value]::-moz-progress-bar { 
    background-image:
        -moz-linear-gradient(
        top, 
        #00cc00,
        #006600
        );

    box-shadow: 0em 0em 0.4em #006600;
    border-radius: 3px; 
}