.settingsDiv {
    padding: 0.5em 0;
}

.settingsDivLeft {
    display: inline-block;
    width: 25em;
}

.settingsDivRight {
    display: inline-block;
    width: 25em;
}

p.settings {
    box-sizing: border-box;
    width: 28em;
    padding-left: 11px;
    padding-right: 11px;
    margin-top: 4px;
    margin-bottom: 24px;
    margin-left: 16px;
    margin-right: 16px;
}

h2.settings {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}