.infoBox {
    text-align: center;
    vertical-align: middle;
    position: relative;
    white-space: normal;
    
    width: 20em;
    padding: 10px;
}

.infoBoxBackGround {
    background-color: rgba(64,64,64,0.5);
}

.infoBoxContent {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 95%;
    text-align: center;
}

.infoBoxHeader,.infoBoxStatus {
    display: inline;
}

.infoBoxOKButton {
    width: 5.5em;
}