.infoBox {
    text-align: center;
    vertical-align: middle;
    display: block;
    
    width: 200px;
    height: 100px;
    padding: 10px;
}

.infoBoxBackGround {
    background-color: rgba(64,64,64,0.5);
}

.infoBoxContent {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 180px;
    text-align: center;
}

.infoBoxHeader,.infoBoxStatus {
    display: inline;
}

.infoBoxOKButton {
    width: 80px;
}