.listContainer {
    display: inline-block;

    text-align: left;

    background-color: rgba(17,17,17,0.75);
    border: 2px solid #333333;
    padding: 0;

    overflow-x: hidden;
    overflow-y: scroll;
}

.listContainer::-webkit-scrollbar {
    width: 2px; 
    background: transparent;
}

.listContainer::-webkit-scrollbar-thumb {
    background: #00aa00;
}

.list {
    padding: 0;
    margin: 0;
    width: 100%;
}

.listElement {
    display: inline-block;
    text-align: left;

    width: calc(100% - 1.2em);
    padding: 0.6em;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.listElement:not(.disabled) {
    cursor: pointer;
}

.caption {
    font-size: 1.0em;
}

.subcaption {
    font-size: 0.8em;
    color: #AAAAAA;
}

.listElement.disabled {
    color: #777777;
}

.listElement.disabled > .subcaption {
    color: #555555;
}

.listElement.selected {
    background-color: #004400;
}

.listElement.selected > .subcaption {
    color: #DDDDDD;
}

.listElement.highlighted {
    text-shadow: none;
    box-shadow: inset 0em 0em 0.75em #00FF00;
    transition: all 0s;
}

.listElement.highlighted > .caption {
    text-shadow:
        #00FF00 0 0 0.2em,
        #00FF00 0 0 0.2em;
}