.loadingBox {
    text-align: center;
    vertical-align: middle;
    position: relative;
    white-space: normal;
    
    width: 320px;
    padding: 10px 10px 15px 10px;
}

.loadingBoxBackGround {
    background-color: rgba(64,64,64,0.5);
}

.loadingBoxContent {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 95%;
    text-align: center;
}

.loadingBoxProgress {
    display: block;
}

.loadingBoxHeader,.loadingBoxStatus {
    display: inline;
}

.loadingBoxStatus {
    font-size: 14px;
}