.loadingBox {
    text-align: center;
    vertical-align: middle;
    display: block;
    
    width: 300px;
    height: 120px;
    padding: 10px;
}

.loadingBoxBackGround {
    background-color: rgba(64,64,64,0.5);
}

.loadingBoxContent {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 250px;
    text-align: center;
}

.loadingBoxProgress {
    display: block;
}

.loadingBoxHeader,.loadingBoxStatus {
    display: inline;
}