.pageContent {
    width: 900px;
    height: 420px;
    position: relative;
}

.missionListContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 400px;
}

.missionInfoContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 680px;
}

.subcaption.completed {
    color: #00CC00;
}

@media screen and (max-width: 420px) {
    .pageContent {
        position: relative;
        margin-left: 0;
        margin-left: 0;
        width: auto;
        height: auto;
    }

    .missionListContainer {
        position: relative;
        margin-left: auto;
        margin-right: auto;

        width: 90%;
        height: 300px;
    }

    .missionInfoContainer {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

.missionTitle {
    text-align: left;
}

.missionObjectivesTitle, .playerSpacecraftTitle {
    text-align: left;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.missionObjectives {
    text-align: left;
    font-size: 14px;
    padding: 0;
}

img.missionMedal {
    vertical-align: bottom;
    margin: 0 0.1em 0.2em 0.1em;
}