.pageContent {
    width: 900px;
    height: 420px;
    position: relative;
}

.missionListContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 400px;
}

.missionInfoContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 680px;
    height: 400px;
    
    text-align: left;
}

.missionInfoHeader {
    width: 440px;
    height: 50px;
}

.missionTitle {
    margin-top: 0;
    margin-bottom: 0;
}

.missionLocation {
    margin-top: 0.25em;
}

.difficultyContainer {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 290px;
    height: 50px;
    padding-top: 0.25em;
    padding-right: 1em;
}

.missionInfoBody {
    box-sizing: border-box;
    margin-top: 10px;
    border-top: 2px solid #333333;
    padding-top: 0.5em;
    height: 340px;
    overflow-y: scroll;
}

.missionInfoBody::-webkit-scrollbar {
    width: 2px; 
    background: transparent;
}

.missionInfoBody::-webkit-scrollbar-thumb {
    background: #00aa00;
}

.missionInfoBody > p {
    margin-top: 0;
}

.missionDescription > p {
    margin-top: 0;
}

.missionInfoBody > h3 {
    margin-bottom: 0.5em;
}

.subcaption.completed {
    color: #00CC00;
}

@media screen and (max-width: 420px) {
    .pageContent {
        position: relative;
        margin-left: 0;
        margin-left: 0;
        width: auto;
        height: auto;
    }

    .missionListContainer {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;

        width: 90%;
        height: 300px;
    }

    .missionInfoContainer {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

.missionTitle {
    text-align: left;
}

.missionObjectivesTitle, .playerSpacecraftTitle {
    text-align: left;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.missionObjectives {
    text-align: left;
    font-size: 14px;
    padding: 0;
}

img.missionMedal {
    vertical-align: bottom;
    margin: 0 0.1em 0.2em 0.1em;
}

.missionSpacecraftInfo {
    margin: 0;
    padding : 0;
    display: table-cell;
}

.missionEquipment {
    margin: 0;
    padding: 0.4em 0em 0.4em 0;
    border-bottom: 2px solid #333333;
}