[Desktop Entry]
Name=Interstellar Armada: Galactic Ace
#Comment=Comment for My App
GenericName=Interstellar Armada
Exec=interstellar-armada %U
Icon=${SNAP}/meta/gui/icon-ace.png
Type=Application
StartupNotify=true
StartupWMClass=InterstellarArmada
Categories=Game;
MimeType=x-scheme-handler/my-app;


