<div class="fullScreenFix loadingBoxBackground pageGhost">
    <div class="anyHeightCentered outerContainer loadingBox uiEffectsBox">
        <h3 id="header" class="loadingBoxContent loadingBoxHeader" data-translation-key="loading.header"></h3>
        <progress id="progress" class="loadingBoxContent loadingBoxProgress" value="0" max="100"></progress>
        <img id="image" src="assets/images/empire_white_large.png" srcset="assets/images/empire_white_large.png 1x, assets/images/empire_white_large@2x.png 2x" class="loadingBoxContent loadingIndicatorImage" hidden>
        <div id="status" class="loadingBoxContent loadingBoxStatus"></div>
    </div>
</div>