.about.pageContainer {
    width: 90%;
    height: 90%;
}

.about.innerContainer {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
}

.about.pageContent {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 8em);
    position: relative;
    overflow-y: scroll;
}

.about.pageContent::-webkit-scrollbar {
    width: 0.2vw;
    min-width: 2px;
    background: transparent;
}

.about.pageContent::-webkit-scrollbar-thumb {
    background: #00aa00;
}

p.about {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
}

p.aboutCentered {
    text-align: center;
}

h3.credits {
    font-size: 1.1em;
    padding: 0;
    margin-bottom: 0.5em;
}

ul.credits {
    font-size: 0.8em;
    padding: 0;
    margin: 0 auto 0.2em auto;
    text-align: center;
}

li.creditsNote {
    margin: 0.3em 0 0.2em 0;
    color: #aaaaaa;
    font-style: italic;
}