@use "../_common.scss";
@use "../color-scheme";

.dialogBackground {
    z-index: common.$page-container-z-index;
}

.dialogContainer {
    width: 46em;
    max-width: 90vw;
    padding: 0.5em;
    box-sizing: border-box;
    z-index: common.$inner-container-z-index;
}

body:not(.uiEffects) .dialogContainer {
    background-color: color-scheme.$panel-color;
}

body.uiEffects .dialogContainer {
    backdrop-filter: blur(common.$ui-effects-heavy-blur-radius);
}

.dialogContent {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    text-align: center;
}

.dialogHeader {
    padding: 0;
    margin-bottom: 0.75em;
}

.dialogMessage {
    margin-top: 0.5em;
    max-height: 60vh;
    padding: 0 0.5em;
    @include common.styled-scrollbar;
}

@include common.ui-effects-box-appear("dialogBackground", "dialogContainer");