@import "../_common.scss";

.listContainer {
    display: inline-block;

    text-align: left;

    background-color: rgba($panel-back-color,$panel-opacity);
    padding: 0;

    overflow-x: hidden;
    
    @include bordered;
    @include styled-scrollbar;
}

.list {
    padding: 0;
    margin: 0;
    width: 100%;
}

.listElement {
    display: inline-block;
    text-align: left;
    box-sizing: border-box;

    width: 100%;
    padding: 0.6em;
}

.listElement:not(.disabled) {
    cursor: $cursor-light, pointer;
}

.caption {
    color: #FFFFFF;
    font-size: 1.0em;
}

.subcaption {
    font-size: 0.8em;
    color: #AAAAAA;
}

.listElement.disabled {
    color: #777777;
}

.listElement.disabled > .subcaption {
    color: #555555;
}

.listElement.selected {
    background-color: relDarken($highlight-color,0.733);
}

.listElement.selected > .subcaption {
    color: #DDDDDD;
}

.listElement.highlighted {
    text-shadow: none;
    box-shadow: inset 0em 0em 0.75em $highlight-color;
    transition: all 0s;
}

.listElement.highlighted > .caption {
    @include highlight-text;
}