@import "../_common.scss";

.loadingBox {
    text-align: center;
    position: relative;
    white-space: normal;
    
    width: 25em;
    padding: 0.6em 0.6em 0.9em 0.6em;
}

.loadingBoxBackground {
    background-color: $overlay-background-color;
}

.loadingBoxContent {
    position: relative;
    margin: 1em auto;
    max-width: 95%;
    text-align: center;
}

.loadingBoxProgress {
    display: block;
    &[hidden] {
        display: none;
    }
}

.loadingBoxHeader,.loadingBoxStatus {
    display: inline;
}

.loadingBoxStatus {
    font-size: 90%;
}

@keyframes glow-white {
    0% {filter: drop-shadow(0 0 0.05em white); transform: rotateY(0deg);}
    50% {filter: drop-shadow(0 0 0.5em white); transform: rotateY(180deg);}
    100% {filter: drop-shadow(0 0 0.05em white); transform: rotateY(360deg);}
}

.loadingBoxImage {
    display: block;
    &[hidden] {
        display: none;
    }
    animation: glow-white 3s infinite;
}