@import "../_common.scss";

.loadingBox {
    text-align: center;
    position: relative;
    white-space: normal;
    
    width: 25em;
    padding: 0.6em 0.6em 0.9em 0.6em;
}

.loadingBoxBackground {
    background-color: $overlay-background-color;
}

.loadingBoxContent {
    position: relative;
    margin: 1em auto;
    max-width: 95%;
    text-align: center;
}

.loadingBoxProgress {
    display: block;
}

.loadingBoxHeader,.loadingBoxStatus {
    display: inline;
}

.loadingBoxStatus {
    font-size: 90%;
}