@use "../_common.scss";
@use "../color-scheme";

$horizontal-padding: 0.5em;
$vertical-padding: 0.7em;

div.slider {
    display: table;
    table-layout: fixed;
    width: common.$input-width;
    height: 3em;
    padding: $vertical-padding $horizontal-padding;
    margin: 0.25em auto;

    background-color: color-scheme.$panel-back-color;
    @include common.bordered;
}

div.sliderValueContainer {
    display: table-cell;
    box-sizing: border-box;
    vertical-align: middle;
    width: common.$input-value-width-percent;
    margin: 0;
}

div.sliderPropertyContainer {
    box-sizing: border-box;
    font-size: 90%;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    width: common.$input-label-width-percent;
    margin: 0;
    padding: 0.5em 0;
}