@import "../_common.scss";

$horizontal-padding: 0.7em;
$vertical-padding: 0.7em;

div.slider {
    display: table;
    width: $input-width;
    height: 3em;
    padding: $vertical-padding $horizontal-padding;
    margin: 0.25em auto;
    
    background-color: $panel-back-color;
    @include bordered;
}

div.sliderValueContainer {
    display: table-cell;
    box-sizing: border-box;
    vertical-align: middle;
    width: $input-value-width;
    margin: 0;
    padding-left: $horizontal-padding;
    padding-right: 0;
}

div.sliderPropertyContainer {
    box-sizing: border-box;
    font-size: 90%;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    width: $input-label-width;
    margin: 0;
    padding: 0.5em 0;
}