div.slider {
    display: table;
    box-sizing: border-box;
    width: 24.5em;
    padding-left: 11px;
    padding-right: 11px;
    margin: 4px auto;
    
    background-color: #111111;
    border: 2px solid #333333;
}

div.sliderValueContainer {
    display: table-cell;
    box-sizing: border-box;
    vertical-align: middle;
    width: 8em;
    margin: 0;
    padding-left: 11px;
    padding-right: 0;
}

div.sliderPropertyContainer {
    box-sizing: border-box;
    font-size: 90%;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    width: 16.5em;
    margin: 0;
    padding: 0.5em 0;
}