<!DOCTYPE html>

<html lang="en">
    <head><title></title></head>

    <body>
        <div class="fullScreenFix infoBoxBackGround">
            <div class="outerContainer centered infoBox">
                <h3 class="infoBoxContent infoBoxHeader">Information</h3>
                <p id="message" class="infoBoxContent infoBoxMessage"></p>
                <a id="okButton" class="horizontallyCentered separate button infoBoxOKButton" href="#">OK</a>
            </div>
        </div>
    </body>

</html>