<!DOCTYPE html>

<html lang="en">
    <head><title></title></head>

    <body>
        <div class="fullScreenFix infoBoxBackGround pageGhost">
            <div class="anyHeightCentered outerContainer infoBox">
                <h3 id="header" class="infoBoxContent infoBoxHeader" data-translation-key="infoBox.header">Information</h3>
                <p id="message" class="infoBoxContent infoBoxMessage"></p>
                <a id="okButton" class="horizontallyCentered separate button infoBoxOKButton" data-translation-key="infoBox.okButton" href="#">OK</a>
            </div>
        </div>
    </body>

</html>