<!DOCTYPE html>

<html lang="en">
    <head><title></title></head>

    <body>
        <div class="fullScreenFix loadingBoxBackGround pageGhost">
            <div class="anyHeightCentered outerContainer loadingBox">
                <h3 id="header" class="loadingBoxContent loadingBoxHeader" data-translation-key="loading.header">Please wait!</h3>
                <progress id="progress" class="loadingBoxContent loadingBoxProgress" value="0" max="100"></progress>
                <div id="status" class="loadingBoxContent loadingBoxStatus">Loading...</div>
            </div>
        </div>
    </body>

</html>