<!DOCTYPE html>

<html lang="en">
    <head><title></title></head>

    <body>
        <div class="fullScreenFix loadingBoxBackGround">
            <div class="outerContainer centered loadingBox">
                <h3 id="header" class="loadingBoxContent loadingBoxHeader">Please wait!</h3>
                <progress id="progress" class="loadingBoxContent loadingBoxProgress" value="0" max="100"></progress>
                <p id="status" class="loadingBoxContent loadingBoxStatus">Loading...</p>
            </div>
        </div>
    </body>

</html>