<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <graphics>
        <context antialiasing="true" filtering="trilinear" />
        <shaders source="shaders.xml" />
        <levelOfDetailSettings>
            <lodLoadProfile maxLevel="4" autoLimitByScreenWidth="true">
                <limit screenSizeLessThan="60" level="0" />
                <limit screenSizeLessThan="120" level="1" />
                <limit screenSizeLessThan="500" level="2" />
                <limit screenSizeLessThan="800" level="3" />
            </lodLoadProfile>
            <lodDisplayProfile maxLevel="4">
                <limit objectSizeLessThan="30" level="0" />
                <limit objectSizeLessThan="60" level="1" />
                <limit objectSizeLessThan="250" level="2" />
                <limit objectSizeLessThan="400" level="3" />
            </lodDisplayProfile>
        </levelOfDetailSettings>
    </graphics>
    <logic>
        <classes source="classes.xml" />
    </logic>
    <control>
        <descriptions>
            <action name="quit" description="Quit to menu." />
            <action name="pause" description="Pause the game." />
            <action name="cameraMoveLeft" description="Move the camera to the left (free camera mode)." />
            <action name="cameraMoveRight" description="Move the camera to the right (free camera mode)." />
            <action name="cameraMoveUp" description="Move the camera upwards (free camera mode)." />
            <action name="cameraMoveDown" description="Move the camera downwards (free camera mode)." />
            <action name="cameraMoveForward" description="Move the camera forward (free camera mode)." />
            <action name="cameraMoveBackward" description="Move the camera backward (free camera mode)." />
            <action name="cameraTurnLeft" description="Turn the camera to the left." />
            <action name="cameraTurnRight" description="Turn the camera to the right." />
            <action name="cameraTurnUp" description="Turn the camera upwards." />
            <action name="cameraTurnDown" description="Turn the camera downwards." />
            <action name="followNext" description="Follow next spacecraft." />
            <action name="followPrevious" description="Follow previous spacecraft." />
            <action name="changeView" description="Change view of currently followed spacecraft." />
            <action name="setManualControl" description="Switch the control of the currently followed spacecraft to manual." />
            <action name="changeFlightMode" description="Toggle the controlled spacecraft between free and compensated flight modes." />
            <action name="fire" description="Fire the weapons of the manually controlled spacecraft." />
            <action name="forward" description="Forward thrust (free mode) or increase speed (compensated mode)." />
            <action name="reverse" description="Reverse thrust (free mode) or decrease speed (compensated mode)." />
            <action name="resetSpeed" description="Reset speed to zero (compensated mode)." />
            <action name="yawLeft" description="Turn spacecraft to the left." />
            <action name="yawRight" description="Turn spacecraft to the right." />
            <action name="pitchUp" description="Turn spacecraft upwards." />
            <action name="pitchDown" description="Turn spacecraft downwards." />
            <action name="rollLeft" description="Roll spacecraft to the left." />
            <action name="rollRight" description="Roll spacecraft to the right." />
            <action name="setAIControl" description="Switch the control of the currently followed spacecraft to AI." />
            <action name="stopAIShips" description="Delete the goals of AI controlled spacecrafts and make all of them stop." />
            <action name="toggleHitboxVisibility" description="Toggle the visibility of hitboxes." />
            <action name="cameraDecreaseFOV" description="Zoom in. (decrease field of view of current camera)" />
            <action name="cameraIncreaseFOV" description="Zoom out. (increase field of view of current camera)" />
        </descriptions>
        <keyboard>
            <action name="fire" key="space" />
            <action name="changeFlightMode" key="o" />
            <action name="forward" key="w" />
            <action name="reverse" key="s" />
            <action name="resetSpeed" key="backspace" />
            <action name="yawLeft" key="left" />
            <action name="yawRight" key="right" />
            <action name="pitchDown" key="up" />
            <action name="pitchUp" key="down" />
            <action name="rollRight" key="page down" />
            <action name="rollLeft" key="page up" />
            
            <action name="cameraTurnLeft" key="left" ctrl="true" />
            <action name="cameraTurnRight" key="right" ctrl="true" />
            <action name="cameraTurnUp" key="up" ctrl="true" />
            <action name="cameraTurnDown" key="down" ctrl="true" />
            <action name="cameraMoveLeft" key="left" />
            <action name="cameraMoveRight" key="right" />
            <action name="cameraMoveUp" key="page up" />
            <action name="cameraMoveDown" key="page down" />
            <action name="cameraMoveForward" key="up" />
            <action name="cameraMoveBackward" key="down" />
            <action name="cameraDecreaseFOV" key="z" />
            <action name="cameraIncreaseFOV" key="u" />
            
            <action name="pause" key="p" />
            <action name="changeView" key="v" />
            <action name="followNext" key="c" />
            <action name="followPrevious" key="x" />
            <action name="setManualControl" key="m" />
            <action name="setAIControl" key="n" />
            <action name="stopAIShips" key="0" />
            <action name="toggleHitboxVisibility" key="h" />
            <action name="quit" key="escape" />
        </keyboard>
    </control>
</settings>
