@import "../_common.scss";

.about.pageContent {
    height: calc(100% - #{2*$separator-height});
}

p.about {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
}

h3.credits {
    font-size: 1.1em;
    padding: 0;
    margin-bottom: 0.5em;
}

ul.credits {
    font-size: 0.8em;
    padding: 0;
    margin: 0 auto 0.2em auto;
    text-align: center;
}

li.creditsNote {
    margin: 0.3em 0 0.2em 0;
    color: #aaaaaa;
    font-style: italic;
}