@use "../_common.scss";

.controls.pageContent {
    height: calc(100% - #{2*common.$separator-height+common.$page-padding});

    & .multiBarSelector {
        margin: 0.25em auto;
    }

    & div.noController {
        max-width: 50vw;
        text-align: center;
        margin: 0.5em auto;
    }
}

.controlsTable {
    max-width: 90%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.controls.tableTitle:hover {
    @include common.highlight-text;
}