@use "../_common.scss";

.gameplay.pageContent {
    margin-top: common.$page-padding;
    text-align: center;
    height: calc(100% - #{2*common.$separator-height + 2*common.$page-padding});
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.gameplaySettingsColumn {
    display: flex; 
    flex-direction: column;
}

div.gameplaySettingsContainer {
    display: inline-block;
    &>div {
        padding-top: 0.5em;
    }
}

h2.settings {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

/* Matches height reduction to Selector .narrow */
h2.settings.narrow {
    @media screen and (min-width: 1920px) {
        margin-top: 0.1em;
        margin-bottom: 0.05em;
    }
}