@import "../_common.scss";

.gameplay.pageContent {
    margin-top: $page-padding;
    text-align: center;
    height: calc(100% - #{2*$separator-height + 2*$page-padding});
}

div.gameplaySettingsContainer {
    display: inline-block; 
}

h2.settings {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}