@import "../_common.scss";

.graphics.pageContent {
    padding: 0 0 0.5em 0;
    text-align: center;
    height: calc(100% - #{2*$separator-height+2*$button-height});
}

.generalLevelDiv {
    margin: 0.5em auto;
    text-align: center;
    background: $panel-back-color;
    padding-top: 0.25em;
}

$div-width: $input-width + 0.5em;
$margin-bottom: 0.5em;

.settingsDivLeft {
    display: inline-block;
    width: $div-width;
    margin-bottom: $margin-bottom;
}

.settingsDivRight {
    display: inline-block;
    width: $div-width;
    margin-bottom: #{$margin-bottom + 3.95em};
}