.settingsDiv {
    padding: 0 0 0.5em 0;
}

.generalLevelDiv {
    margin: 0.5em auto;
    text-align: center;
    background: #111;
    padding-top: 0.25em;
}

.settingsDivLeft {
    display: inline-block;
    width: 25em;
}

.settingsDivRight {
    display: inline-block;
    width: 25em;
}

@media screen and (orientation: landscape) {
    .settingsDivRight {
        float: right;
    }
}

p.settings {
    box-sizing: border-box;
    width: 28em;
    padding-left: 11px;
    padding-right: 11px;
    margin-top: 4px;
    margin-bottom: 24px;
    margin-left: 16px;
    margin-right: 16px;
}

h2.settings {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}