@use "../_common.scss";
@use "../color-scheme";

.ingameMenuContainer {
    width: 15em;
    padding-top: 5.5em;
    padding-left: 1em;
    padding-right: 1em;

    .menuContainer {
        margin: 0 auto;
    }
}

body:not(.uiEffects) .ingameMenuContainer {
    background-color: color-scheme.$panel-color;
}

@include common.ui-effects-box-appear("ingameMenuBackground", "ingameMenuContainer");