@import "../_common.scss";

$horizontal-margin: 1em;
$list-width: 14em;
$header-height: 3em;

.missions.pageContent {
    width: calc(100% - #{$horizontal-margin});
    height: calc(100% - #{2*$separator-height+3*$page-padding});
    margin-top: $page-padding;
}

.missionListContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: $list-width;
    height: 100%;
}

.missionInfoContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - #{$list-width + $horizontal-margin});
    height: 100%;
    
    text-align: left;
}

.missionInfoHeader {
    width: 29em;
    height: $header-height;
}

.missionTitle {
    margin-top: 0;
    margin-bottom: 0;
}

.missionLocation {
    margin-top: 0.25em;
}

.difficultyContainer {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 22em;
    height: 3em;
    padding-bottom: 0.25em;
    padding-right: 0.25em;
}

$info-top-margin: 0.5em;

.missionInfoBody {
    margin-top: $info-top-margin;
    padding-top: 0.5em;
    padding-right: 0.5em;
    height: calc(100% - #{$header-height + $info-top-margin});
    
    @include top-bordered;
    @include styled-scrollbar;
}

.missionInfoBody > p {
    margin-top: 0;
}

.missionDescription > p {
    margin-top: 0;
}

.missionInfoBody > h3 {
    padding: 0.1em 0 0.2em 0.1em;
    margin-bottom: 0.5em;
    width: 25em;
    background-image:
            -webkit-linear-gradient(
            left, 
            $panel-back-color,
            rgba($panel-back-color,0)
            );
    background-image:
            -moz-linear-gradient(
            left, 
            $panel-back-color,
            rgba($panel-back-color,0)
            );
}

.subcaption.completed {
    color: #00CC00;
}

.missionTitle {
    text-align: left;
}

.missionObjectivesTitle, .playerSpacecraftTitle {
    text-align: left;
    font-size: 110%;
    padding: 0;
    margin: 0;
}

.missionObjectives {
    text-align: left;
    font-size: 90%;
    padding: 0;
}

img.missionMedal {
    vertical-align: bottom;
    margin: 0 0.1em 0.2em 0.1em;
}

.missionSpacecraftInfo {
    margin: 0;
    padding : 0;
    display: table-cell;
}

.missionEquipment {
    margin: 0;
    padding: 0.4em 0em 0.4em 0;
    @include bottom-bordered;
}

.fileButton {
    margin: 0.5em;
}