@use "../_common.scss";
@use "../color-scheme";

$horizontal-margin: 1em;
$setting-label-width: 10em;
$setting-value-width: 11em;
$setting-total-width: $setting-label-width + $setting-value-width;

.multiGames.pageContent {
    width: 100%;
    height: calc(100% - #{2*common.$separator-height+3*common.$page-padding});
    margin-top: common.$page-padding;
}

div.onlinePlayersContainer,
div.noAvailableGamesLabel {
    margin-left: auto;
    margin-right: auto;
    &:not([hidden]) {
        display: table;
    }
}

table.multiGames {
    max-width: 90%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    & tbody {
        max-height: 22em;
        display: block;
        @include common.styled-scrollbar;
        @media screen and (min-aspect-ratio: 2/1) {
            max-height: 17em;
        }
    }
    & thead, & tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    & tbody tr:hover>td {
        color: color-scheme.$light-text-color;
        background-color: color-scheme.$panel-front-color;
    }
    & .playersColumn, & .startedColumn {
        width: 12vw;
    }
    & .joinColumn {
        width: 18vw;
        text-align: center;
        & button {
            width: calc(100% - 1em);
            min-width: calc(100% - 1em);
        }
    }
}

.createGamePopup, .playerPopup {
    text-align: center;
    position: relative;
    white-space: normal;
    padding: 0.6em;
}

@include common.ui-effects-box-appear("createGamePopupBackground", "createGamePopup");
@include common.ui-effects-box-appear("playerPopupBackground", "playerPopup");

.createGamePopupContent, .playerPopupContent {
    position: relative;
    margin: 1em auto;
    max-width: 95%;
    text-align: center;
    
    .smallMultiBarSelector {
        width: $setting-total-width;
        margin: 0 auto;

        .multiBarSelectorPropertyContainer {
            font-size: 100%;
            width: $setting-label-width;
        }
    }
}

.createGameInputLabel {
    display: inline-block;
    vertical-align: middle;
    width: $setting-label-width;
    text-align: left;
}

input.createGameName {
    width: $setting-value-width;
    margin: 0;
}

.createGameInputContainer {
    margin-top: 0.5em;

    &>.checkgroup {
        display: inline-block;
        vertical-align: middle;
        width: $setting-value-width;
    }
}

.createGamePopupHeader {
    margin: 0.4em auto;
    padding: 0;
}