@import "../_common.scss";

table.multiScores {
    max-width: 90%;
    text-align: left;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    & tr.me {
        font-weight: bold;
        &>td {
           background-color: #333; 
        }
    }
    & tr.left {
        color: $dark-text-color;
        &>td {
            background-color: $dark-panel-color;
        }
    }
    & td.playerRank {
        text-align: center;
    }
    & td.number {
        text-align: right;
    }
}
