@import "../_common.scss";

$horizontal-margin: 1em;

.multiGames.pageContent {
    width: calc(100% - #{$horizontal-margin});
    height: calc(100% - #{2*$separator-height+3*$page-padding});
    margin-top: $page-padding;
}

div.onlinePlayersContainer, 
div.noAvailableGamesLabel, 
div.connectingLabel {
    margin-left: auto;
    margin-right: auto;
    &:not([hidden]) {
        display: table;
    }
}

table.multiGames {
    max-width: 90%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    & tbody {
        max-height: 22em;
        display: block;
        @include styled-scrollbar;
        @media screen and (min-aspect-ratio: 2/1) {
            max-height: 17em;
        }
    }
    & thead, & tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    & tbody tr:hover>td {
        color: $light-text-color;
        background-color: $panel-front-color;
    }
    & .playersColumn, & .startedColumn {
        width: 12vw;
    }
    & .joinColumn {
        width: 18vw;
        text-align: center;
        & button {
            width: calc(100% - 1em);
            min-width: calc(100% - 1em);
        }
    }
}

.createGamePopup, .playerPopup {
    text-align: center;
    position: relative;
    white-space: normal;
    padding: 0.6em;
}

.createGamePopupContent, .playerPopupContent {
    position: relative;
    margin: 1em auto;
    max-width: 95%;
    text-align: center;
}

.createGameInputLabel {
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    text-align: left;
}

input.createGameName {
    width: 11em;
    margin: 0;
}

.createGameInputContainer>.checkgroup {
    display: inline-block;
    vertical-align: middle;
    width: 11em;
}

.smallNumberSelector {
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 21em;
    & .selectorPropertyContainer {
        text-align: left;
        font-size: 100%;
        width: 10em;
        margin: 0;
    }
    & button {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        min-width: 11em;
        font-size: 100%;
    }
}

.createGamePopupHeader {
    margin: 0.4em auto;
    padding: 0;
}