body,html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    position: static;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div#resources {
    left: 0;
    top: 0;
    width: 20%;
    bottom: 50%;
}

div#classes {
    left: 0;
    top: 50%;
    bottom: 0;
    width: 20%;
}

div#preview {
    margin: 0;
    padding: 0;
    left: 20%;
    top: 0;
    bottom: 0;
    width: 60%;
}

div#properties {
    right: 0;
    top: 0;
    bottom: 0;
    width: 20%;
}

div.window {
    position: fixed;
    border: 2px solid #666666;
    margin: 0;
    padding: 0;
}

div.windowTitle {
    position: relative;
    background-color: #bbbbbb;
    border: 2px solid #888888;
    text-align: center;
    color: #222222;

    font-weight: bold;

    height: 20px;
}

div.windowContent {
    position: relative;
    left: 0;
    height: calc(100% - 24px);
    margin: 0;
    padding: 0;

    background-color: #444444;
    color: #cccccc;
}

div.windowLabel {
    position: relative;
    padding: 40% 0;
    text-align: center;
}

.scrollable {
    overflow-y: scroll;
    width: calc(100% - 2px);
}

ul {
    margin-top: 0;
    padding: 1em;

    list-style-type: none;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

ul.elementList {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1em;
}

li.category {
}

span.category {
    font-weight: bold;
}

span.category:hover, span.element:hover {
    cursor: pointer;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

span.category:hover, span.element:hover {
    color: #44aaff;
}

span.element.selected {
    font-weight: bold;
}

#previewOptions {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 2px);
    height: 50px;
    margin: 0;
    padding: 3px;

    border: 2px solid #666666;
}

#previewCanvas {
    position: relative;
    width: calc(100% - 2px);
    height: calc(100% - 54px);

    border: 0;
}

span.settingLabel {
    font-size: 10px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#propertiesTable {
    position: relative;
    width: 100%;
    border: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 0;
}

td {
    background-color: #4d4d4d;
}

input[type="text"] {
    height: 1.2em;
}

.propertyName {
    font-size: 12px;
    padding-left: 0.5em;
}

span.propertyControl {
    font-size: 12px;
}

.propertyControl {
    position: relative;
    max-width: calc(100%-4px);

    text-align: left;
}

div.propertyControl {
    vertical-align: middle;
}

.colorComponent {
    width: 2em;
    margin-right: 0.3em;
    margin-top: 0;
}

.colorPreview {
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    margin-bottom: 0;
    margin-right: 0.5em;

    border: 1px solid #222222;
}