/* -------------------------------------------------------------------- */
/* general */

body,html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    position: static;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #cccccc;
}

input[type="text"] {
    height: 1.2em;
}

textarea {
    resize: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

select {
    max-width: 12em;
}

/* -------------------------------------------------------------------- */
/* general: common */

.label {
    font-size: 12px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.numericInput {
    width: 4em;
}

.colorComponent, .vectorComponent {
    margin-right: 0.3em;
    margin-top: 0;
}

.colorComponent {
    width: 1.9em;
}

.vectorComponent {
    width: 2.4em;
}

.colorPicker {
    display: inline-block;
}

.colorPreview {
    display: inline-block;
    width: 1.2em;
    height: 1.4em;
    margin-bottom: 0;
    margin-right: 0.3em;
}

.rangeCheckbox {
    vertical-align: middle;
}

.rangeNumericInput {
    width: 2.4em;
}

.popup {
    position: absolute;

    border: 2px solid #666666;
    background-color: #444444;
    box-shadow: 0 0 1em 0 #222222;

    padding-top: 0.2em;
    padding-bottom: 0.2em;

    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------------------------------------------- */
/* window */

div.window {
    position: fixed;
    border: 2px solid #666666;
    margin: 0;
    padding: 0;
}

div.windowTitle {
    position: relative;
    background-color: #bbbbbb;
    padding: 2px;
    border: 2px solid #888888;
    text-align: center;
    color: #222222;

    font-weight: bold;

    height: 20px;
}

div.windowContent {
    position: relative;
    left: 0;
    height: calc(100% - 28px);
    margin: 0;
    padding: 0;

    background-color: #444444;
}

div.windowContent.scrollable {
    overflow-y: scroll;
    width: calc(100% - 2px);
}

div.windowLabel {
    position: relative;
    padding: 40% 0;
    text-align: center;
}

/* -------------------------------------------------------------------- */
/* window layout */

div#resources {
    left: 0;
    top: 0;
    width: 20%;
    bottom: 50%;
}

div#classes {
    left: 0;
    top: 50%;
    bottom: 0;
    width: 20%;
}

div#preview {
    margin: 0;
    padding: 0;
    left: 20%;
    top: 0;
    bottom: 0;
    width: 60%;
}

div#properties {
    right: 0;
    top: 0;
    bottom: 0;
    width: 20%;
}

/* -------------------------------------------------------------------- */
/* resources / classes */

ul {
    margin-top: 0;
    padding: 1em;

    list-style-type: none;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

ul.elementList {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1em;
}

li.category {
}

span.category {
    font-weight: bold;
}

span.category:hover, span.element:hover {
    cursor: pointer;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

span.category:hover, span.element:hover {
    color: #44aaff;
}

span.element.selected {
    font-weight: bold;
}

/* -------------------------------------------------------------------- */
/* preview */

#previewOptions {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 10px);
    height: 50px;
    margin: 0;
    padding: 3px;

    border: 2px solid #666666;
}

#previewCanvas {
    position: relative;
    width: calc(100% - 6px);
    height: calc(100% - 95px);

    padding: 0;
    border: 0;
}

#previewInfo {
    position: relative;
    bottom: 2px;
    left: 0;
    width: calc(100% - 10px);
    height: 25px;
    margin: 0;
    padding: 3px;

    border: 2px solid #666666;
}

.setting {
    display: inline-block;
}

span.settingLabel {
    font-size: 10px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/* -------------------------------------------------------------------- */
/* properties */

.propertiesTable {
    position: relative;
    width: 100%;
    border: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 0;

    background-color: #444444;
}

td {
    background-color: #4d4d4d;
}

.propertyName {
    font-size: 12px;
    padding-left: 0.5em;
}

span.propertyControl {
    font-size: 12px;
    margin-right: 0.5em;
}

.propertyControl {
    position: relative;
    max-width: calc(100%-4px);

    text-align: left;
}

div.propertyControl {
    display: inline-block;
    vertical-align: middle;
}

div.propertyEditorHeader {
    background-color: #545454;
    border: 2px solid #444444;
}