/* -------------------------------------------------------------------- */
/* general */

@font-face {
    font-family: gameFont;
    src: url(../assets/fonts/Sansation_Regular.ttf);
}

body,html {
    width: 100%;
    height: 100%;
}

$text-color: #cccccc;

body {
    font-family: gameFont, Ubuntu light, Verdana, Geneva, sans-serif;
    position: static;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: $text-color;
    display: flex;
    flex-direction: row;

    font-size: 0.9vw; /* for em units */
}

button {
    font-family: gameFont, Ubuntu light, Verdana, Geneva, sans-serif;
    font-size: 0.8vw;
    height: 1.6em;

    &.icon {
        background-size: 1.3em;
        border: 1px solid #888;
        border-radius: 2px;
        width: 1.6em;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &.add {
        background-image: url(../assets/images/editor/add.png);
    }
    &.delete {
        background-image: url(../assets/images/editor/delete.png);
    }
    &.copy {
        background-image: url(../assets/images/editor/copy.png);
    }
    &.up {
        background-image: url(../assets/images/editor/up.png);
    }
    &.down {
        background-image: url(../assets/images/editor/down.png);
    }
}

input {
    font-size: 0.8vw;
}

input[type="text"] {
    height: 1.2em;
}

textarea {
    resize: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

select {
    font-size: 0.8vw;

    max-width: 12.6em;
    height: 1.6em;
}

a, a:visited, a:active {
    color: #44aaff;
    font-weight: bold;
}

span.propertyControl.withSetButton {
    margin-right: 3.5em;
}

button.propertyControl {
    overflow: hidden;
}

.withUnsetButton {
    margin-right: 1.6em;
}

select.withJumpButton, select.withUnsetButton {
    max-width: 10.6em;
}

.withUnsetButton input {
    max-width: 10.4em;
}

.withUnsetButton button.propertyControl {
    margin-right: 1.1em;
}

/* -------------------------------------------------------------------- */
/* general: common */

.label {
    font-size: 0.8vw;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.stringInput {
    width: 12em;
}

.numericInput {
    width: 4em;
}

.colorComponent, .vectorComponent {
    margin-right: 0.28em;
    margin-top: 0;
}

.colorComponent {
    width: 1.8em;
}

.vectorComponent {
    width: 3em;
}

.colorPicker {
    display: inline-block;
}

.colorInput {
    display: inline-block;
    width: 1.1em;
    height: 1.4em;
    margin-bottom: 0;
    margin-right: 0.28em;
}

.colorPreview {
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    margin-bottom: 0;
    margin-right: 0.28em;
}

.rangeCheckbox {
    vertical-align: middle;
}

.rangeNumericInput {
    width: 2.4em;
}

.popup {
    position: absolute;

    overflow-x: hidden;
    overflow-y: auto;

    padding-top: 0.2em;
    padding-bottom: 0.2em;

    cursor: move;
}

.popup, .dialog {
    border: 2px solid #666666;
    background-color: #444444;
    box-shadow: 0 0 1em 0 #222222;
}

$dialog-width: 20em;

.dialog {
    position: absolute;
    width: $dialog-width;
    left: calc(50% - #{$dialog-width*0.5});
    top: calc(40% - 4.5em);
    padding: 1em;
}

#newItemDialog {
    height: 11em;
}

#exportDialog {
    height: 9em;
}

.dialogLabel {
    display: inline-block;
    width: 6em;
    text-align: left;
}

/* -------------------------------------------------------------------- */
/* window */

div.window {
    margin: 0;
    padding: 0;
    text-align: left;
    height: 100%;
}

$title-height: 2.0vw;
$title-padding: 0.2em;

div.windowTitle {
    position: relative;
    box-sizing: border-box;
    background-color: #aaaaaa;

    background-image:
        -webkit-linear-gradient(
        top,
        #dddddd,
        #aaaaaa
        );

    padding: $title-padding;
    text-align: center;
    vertical-align: middle;
    color: #222222;

    font-weight: bold;
    font-size: 1.2vw;

    height: $title-height;
}

$toolbar-height: 2.0vw;
$toolbar-padding: 0.3em;

div.windowToolbar {
    position: relative;
    box-sizing: border-box;
    height: $toolbar-height;

    vertical-align: middle;

    padding: $toolbar-padding;

    background-color: #505050;
}

div.windowContent {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - #{$title-height});
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    background-color: #444444;
}

div.windowLabel {
    position: relative;
    padding: 40% 1em;
    text-align: center;
}

.toolbarButton {
    height: 1.5vw;
}

/* -------------------------------------------------------------------- */
/* window layout */

div#items {
    flex: 0;
}

div#preview {
    flex: 1;
}

div#properties {
    flex: 0;
}

div#items > div.windowContent {
    height: calc(100% - #{$title-height + $toolbar-height});
    scroll-behavior: smooth;
}

div#preview > div.windowContent {
    background-color: #3d3d3d;
}

$scrollbar-width: 17px;

div#items > div.windowContent, div#properties > div.windowContent {
    width: calc(100% + #{$scrollbar-width}); /* hiding scrollbar */

    padding-bottom: 4em;

    overflow-x: hidden;
    overflow-y: scroll;
}

/* -------------------------------------------------------------------- */
/* dialogs */

$classes-dialog-width: 20em;
$classes-dialog-height: 7em;

#classesExportDialog {
    width: $classes-dialog-width;
    height: $classes-dialog-height;
    left: calc(50% - #{$classes-dialog-width*0.5});
    top: calc(50% - #{$classes-dialog-height*0.5});

    padding-top: 0.9em;
}

div.dialogEntry {
    text-align: left;
    margin-bottom: 0.9em;
}

div.dialogEntry > input {
    font-size: 1em;
}

div.dialogButtonRow {
    text-align: center;
}

div.dialogButtonRow > button {
    font-size: 1em;
}

/* -------------------------------------------------------------------- */
/* items */

ul {
    margin-top: 0;
    padding-left: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.4em;

    list-style-type: none;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

ul.elementList {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1em;
}

li.category {
}

.itemType {
    border-top: 3px solid #3d3d3d;

    padding-left: 0.5em;

    font-size: 1.2vw;
    font-weight: bold;
    color: #aaaaaa;
}

span.category {
    font-size: 1.1vw;
    font-weight: bold;
}

span.category:hover, span.element:hover {
    cursor: pointer;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

span.category:hover, span.element:hover {
    color: #44aaff;
}

span.element {
    font-size: 1.0vw;
}

span.element.selected {
    font-weight: bold;
    color: #66bbff;
}

li.element {
    transition: padding 0.1s;
}

li.element.inserting {
    opacity: 0.3;
}

li.element.dragover {
    padding-bottom: 1.0em;
}

/* -------------------------------------------------------------------- */
/* preview */

#previewOptions {
    position: relative;
    margin: 0;
    padding-top: 0.6em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-bottom: 0;
    flex: 0;
    button.animate {
        width: 5.5em;
    }
    button.explode {
        width: 5.5em;
    }
}

#previewCanvas {
    position: relative;
    width: 100%;
    height: 100%;

    padding: 0;
    border: 0;
}

#previewDiv {
    position: relative;
    width: calc(100% + #{$scrollbar-width}); /* hiding scrollbar */
    height: 100%;
    flex: 1;

    padding: 0;
    border: 0;

    overflow-x: hidden;
    overflow-y: scroll;
}

#previewInfo {
    position: relative;
    margin: 0;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    flex: 0;
}

#previewInfo > span.label {
    padding: 0;
}

#previewTooltip {
    position: fixed;
    font-size: 0.8vw;
    background-color: #444444;
    padding: 0.2em;
    pointer-events: none;
}

.previewImageContainer {
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
        box-sizing: border-box;
        &[hidden] {
            display: none;
        }
    }
    &.black-background img {
        background-color: black;
    }
    &.checkerboard-background img {
        background: url(../assets/images/checkerboard.png);
    }
}

span.objectives {
    font-weight: bold;
    position: relative;
    padding: 0 0.3em;
}

div.objectives.popup {
    display: none;
    font-weight: normal;
    position: absolute;
    left: 0;
    padding: 0.5em;
    bottom: 100%;
    span.objectives:hover>&, &:hover {
        display: block;
        width: 300%;
    }
}

.setting {
    display: inline-block;
    padding-left: 0.5em;
    margin-bottom: 0.6em;
    &[hidden] {
        display: none;
    }
}

span.settingLabel {
    font-size: 0.8vw;
    padding-right: 0.5em;
}

.setting > input[type="checkbox"] {
    margin-top: auto;
    margin-bottom: 0;
}

/* -------------------------------------------------------------------- */
/* properties */

.propertiesTable {
    position: relative;
    width: 100%;
    border: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10em;
    padding: 0;

    background-color: #444444;
}

.popup > .propertiesTable {
    margin-bottom: 0;
    cursor: default;
}

tr.property {
    height: 1.7em;
}

$td-background: #4d4d4d;
$unset-opacity: 50%;

td {
    background-color: $td-background;
    padding: 2px;
    tr.property:hover & {
        color: white;
    }
    tr.property.unset:hover & {
        color: $text-color;
    }
    tr.property.unset & {
        background-color: rgba($td-background, $unset-opacity);
        color: rgba($text-color, $unset-opacity);
    }
}

.propertyName {
    font-size: 0.8vw;
    padding-left: 0.5em;

    max-width: 11em;
    overflow-x: hidden;
}

span.propertyControl {
    font-size: 0.8vw;
    margin-right: 0.5em;
}

.propertyControl {
    position: relative;

    text-align: left;
}

div.propertyControl {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    tr.property.unset:hover & {
        cursor: pointer;
    }
}

div.propertyEditorHeader {
    background-color: #545454;
    border: 2px solid #444444;
    padding: 0.2em;
    margin-bottom: 0.2em;
}

button.propertyEditorHeaderButton {
    margin-left: 0.5em;
}

button.setProperty {
    position: absolute;
    right: 0;
    top: -2px;
}

tr:not(:hover) button.setProperty {
    display: none;
}

button.unsetProperty {
    position: absolute;
    right: 0;
    top: 0;
}

tr:not(:hover) button.unsetProperty {
    opacity: 25%;
}

button.jumpReference {
    margin: 0;
}

/* -------------------------------------------------------------------- */
/* GLSL preview */

h1.glsl-header {
    margin-top: 0;
    padding-left: 0.2em;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    font-size: 20px;
    background-color: #444444;
}

.glsl-code {
    font-family: monospace;
    margin-left: 1em;
    border-collapse: collapse;
    & td {
        background: inherit;
        vertical-align: top;
    }
}

.shader-line-number {
    width: 2em;
    color: #888888;
    user-select: none;
}

*:not(.glsl-comment) > .glsl-keyword {
    font-weight: bold;
}

*:not(.glsl-comment) > .glsl-type {
    color: #44aaff;
}

*:not(.glsl-comment) > .glsl-directive {
    color: #f0ad4e;
}

.glsl-comment {
    color: #888888;
}

*:not(.glsl-comment) > .glsl-variable {
    color: #00aa00;
}

*:not(.glsl-comment) > .glsl-function, *:not(.glsl-comment) > .glsl-operator {
    color: #ffff00;
}